.board-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tile {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(4, 50px);
}

.error {
  color: red;
  font-weight: bold;
}

.attribs {
  text-align: center;
  border-style: solid;
  border-color: black;

  margin-left: 2px;
  margin-right: 2px;
}

.attribs-title {
  text-align: center;
}

.card {
  -webkit-box-shadow: inset 0px 0px 125px -11px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: inset 0px 0px 125px -11px rgba(0, 0, 0, 0.51);
  box-shadow: inset 0px 0px 125px -11px rgba(0, 0, 0, 0.51);
}

.bg-Alisa {
  background-color: #228b22 !important;
}

.bg-Arjhan {
  background-color: #800000 !important;
}

.bg-Immeril {
  background-color: #4f3584 !important;
}

.bg-Kat {
  background-color: #013554 !important;
}

.bg-Thorgrim {
  background-color: #9e8f0b !important;
}

.character-card {
  animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* .scale-out-center{} */

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.char-card {
  color: rgb(223, 219, 219);
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + .card {
  cursor: pointer;
}

[type="radio"]:hover + .card {
  outline: 2px solid lightblue;
}

/* CHECKED STYLES */
[type="radio"]:checked + .card {
  outline: 2px solid greenyellow;
}

/* HIDE CHECK */
[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="checkbox"] + .card {
  cursor: pointer;
}

[type="checkbox"]:hover + .card {
  outline: 2px solid lightblue;
}

/* CHECKED STYLES */
[type="checkbox"]:checked + .card {
  outline: 2px solid greenyellow;
}

.power-titles {
  text-align: center;
}

.card-text {
  color: rgb(223, 219, 219);
}

/*TIME-TRACT*/
.time-containers {
  background-image: url(./images/time-track/time-track1.png);
  width: 650px;
  height: 150px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: flex-end;
  display: flex;
  margin-left: 61%;
}

.Time-tract {
  margin-top: 10px;
  z-index: 0;
}
.time-title {
  width: 200px;
  margin-left: 77% !important;
  color: #702906;
  position: absolute;
}
.contaniner1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end !important;
}
.timecontainer1 {
  left: 61% !important;
  margin-right: 0 !important;
  margin-top: 24px !important;
}
.containers,
.contaniner1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 0;
}
.containers {
  z-index: 1;
  top: 1px;
}
.contaniner1 {
  z-index: 2;
}

.time {
  top: 120px;
  color: rgb(100, 57, 8);
  left: 15px;
  position: absolute;
}
.time1 {
  top: 120px;
  right: 30px;
  color: rgb(100, 57, 8);
  position: absolute;
}

#circle {
  width: 100px;
  height: 100px;
  color: rgb(126, 87, 41);
  background: rgb(250, 235, 217);
  border-radius: 80%;
  border-color: rgb(99, 71, 37);
  margin-right: 12px;
  text-align: center;
  border-color: #b6926b !important;
}

span {
  font-size: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.h6 {
  margin-top: 30px important;
}

.home {
  background-image: url(./images/main/main-img1.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130vh;
  position: relative;
}

.display {
  color: rgb(48, 46, 46);
  display: flex !important;
  flex-wrap: wrap !important;

  flex-direction: row;
  padding: 15px;
  width: 100%;
  align-items: flex-end;
}
.display1 {
  background-color: rgba(247, 241, 224, 0.85) !important;
  width: 38%;
  margin-left: 4%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin-top: 20%;
}
#square1 {
  margin-top: 27% !important;
}
.display2 {
  background-color: rgba(247, 241, 224, 0.85) !important;
  width: 30%;
  margin-left: 17%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.treasure {
  margin-left: 1px;
  margin: 1px !important;
}
.encounter {
  margin: 1px !important;
}

.card1 {
  margin: 1px !important;
  margin-right: 5px !important;
  color: rgba(17, 6, 1, 0.959) !important;
  background-color: rgba(75, 64, 49, 0.85);
  -webkit-box-shadow: inset 0px 0px 125px -11px rgba(202, 195, 188, 0.51) !important;
  -moz-box-shadow: inset 0px 0px 125px -11px rgba(129, 104, 81, 0.51) !important;
  box-shadow: inset 0px 0px 125px -11px rgba(129, 104, 81, 0.51) !important;
}
.card2 {
  margin: 1px !important;
  color: rgba(17, 6, 1, 0.959) !important;
  background-color: rgba(211, 190, 150, 0.85);
  -webkit-box-shadow: inset 0px 0px 125px -11px rgba(202, 195, 188, 0.51) !important;
  -moz-box-shadow: inset 0px 0px 125px -11px rgba(129, 104, 81, 0.51) !important;
  box-shadow: inset 0px 0px 125px -11px rgba(129, 104, 81, 0.51) !important;
}
