*{
  text-decoration: none !important
}
.board-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('./images/brick.jpg');
    background-size: 100%;
}

.tile {
    display:grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: repeat(4, 50px);
}

.error {
  color: red;
  font-weight: bold;
}

.attribs {
  text-align: center;
  border-style: solid;
  border-color: black;

  margin-left: 2px;
  margin-right: 2px;
}

.attribs-title {
  text-align: center;
}

.card{
  -webkit-box-shadow: inset 0px 0px 125px -11px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 0px 0px 125px -11px rgba(0,0,0,0.51);
  box-shadow: inset 0px 0px 125px -11px rgba(0,0,0,0.51);
}



.character-card{
  animation:scale-out-center 0.2s cubic-bezier(.55,.085,.68,.53) both
}
/* .scale-out-center{} */

 @keyframes scale-out-center{0%{transform:scale(1);opacity:1}100%{transform:scale(0);opacity:1}}

.char-card{
  color:rgb(223, 219, 219);
  
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + .card {
  cursor: pointer;
}

[type=radio]:hover + .card {
  outline: 2px solid lightblue;
  
}

/* CHECKED STYLES */
[type=radio]:checked + .card {
  outline: 2px solid greenyellow;
}


/* HIDE CHECK */
[type=checkbox] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=checkbox] + .card {
  cursor: pointer;
}

[type=checkbox]:hover + .card {
  outline: 2px solid lightblue;
  
}

/* CHECKED STYLES */
[type=checkbox]:checked + .card {
  outline: 2px solid greenyellow;
}

.power-titles{
  text-align: center;
}


.card-text {
  color: rgb(223, 219, 219);
}
.Time-tract {
  text-align: center;
  margin-top: 10px;
  z-index: 0;
}
.Time-tract h2 {
  margin-bottom: 20px;
  color: rgb(51, 30, 5);
}
.contaniner1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containers,
.contaniner1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 0;
}
.containers {
  z-index: 1;
  top: 1px;
}
.contaniner1 {
  z-index: 2;
  top: 120px;
  height: 5em;
}

.time {
  margin-top: 20px;
  color: rgb(100, 57, 8);
}
.time1 {
  margin-top: 70px;
  color: rgb(100, 57, 8);
}

#circle {
  width: 120px;
  height: 120px;
  color: rgb(126, 87, 41);
  background: rgb(250, 235, 217);
  border-radius: 80%;
  border-color: rgb(99, 71, 37);
  margin-right: 50px;
  text-align: center;
  border-color: #b6926b !important;
}

span {
  font-size: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.h6 {
  margin-top: 30px important;
}

.home {
  background-color: black;
}
.home img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  height: auto;
  max-width: 100%;
  margin-left: 7%;
}

.display {
  background-color: rgb(247, 241, 224) !important;
  color: rgb(48, 46, 46);
  display: flex !important;
  flex-wrap: wrap !important;
  width: 80%;
  margin: 0 auto;
}

.display1 {
  position: absolute;
  z-index: 2;
  left: 12%;
  top: 500px;
  width: 30%;
  height: 650px;
  opacity: 0.8;
  border-radius: 15px;
  background-color: rgb(247, 241, 224) !important;
}

.display2 {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 28%;
  right: 14%;
  top: 500px;
  opacity: 0.8;
  border-radius: 15px;
  background-color: rgb(247, 241, 224) !important;
}
.textBox{
  background-image: url('./images/scroll.png');
  background-size: 100% 100%;
  height: 500px;
  width: 500px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'IM Fell DW Pica', serif;
  padding-left: 50px;
  padding-right: 50px
}

.sealButton{
  height: 100px
}

.home-main{
  position:fixed;
  width: 100%;
  height:100%;
  background-image: url('./images/darkcastle.jpg');
  

}

.cr-logo{
  height: 200px
}

.logo-div{
  position:fixed;
  top: 20%;
  left: 50%;
  
}
.rain{
  height:100vh;
  background: url('./images/rain.png');
  animation: rain .5s linear infinite;
  
}

.rain:before{
  content:'';
  position: absolute;
  width: 100%;
  height:100%;
  background: #fff;
  animation: lightning 1s 4s infinite alternate backwards;
  opacity: 0;

}

@keyframes rain {
  0%{
    background-position: 0% 0%
  }
  100%{
    background-position: 20% 100%
  }
}

@keyframes lightning {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0.2;
  }
  11%{
    opacity: 0;
  }

}

.dnd-logo{
  position: absolute;
  bottom: 5%;
  left:43%;
  height: 60px
}

.startbutton{
  color: rgb(238, 232, 223)!important;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  font-size: 30px;
  opacity: 1;
  animation: start 2s linear infinite;
  text-decoration: none!important
}

@keyframes start{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + .card {
  cursor: pointer;
}

[type=radio]:hover + .card {
  outline: 2px solid lightblue;
  
}

/* CHECKED STYLES */
[type=radio]:checked + .card {
  outline: 2px solid greenyellow;
}


/* HIDE CHECK */
[type=checkbox] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=checkbox] + .card {
  cursor: pointer;
}

[type=checkbox]:hover + .card {
  outline: 2px solid lightblue;
  
}

/* CHECKED STYLES */
[type=checkbox]:checked + .card {
  outline: 2px solid greenyellow;
}

.power-titles{
  text-align: center;
}



.Time-tract {
  text-align: center;
  margin-top: 10px;
  z-index: 0;
}
.Time-tract h2 {
  margin-bottom: 20px;
  color: rgb(51, 30, 5);
}
.contaniner1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containers,
.contaniner1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 0;
}
.containers {
  z-index: 1;
  top: 1px;
}
.contaniner1 {
  z-index: 2;
  top: 120px;
  height: 5em;
}

.time {
  margin-top: 20px;
  color: rgb(100, 57, 8);
}
.time1 {
  margin-top: 70px;
  color: rgb(100, 57, 8);
}

#circle {
  width: 120px;
  height: 120px;
  color: rgb(126, 87, 41);
  background: rgb(250, 235, 217);
  border-radius: 80%;
  border-color: rgb(99, 71, 37);
  margin-right: 50px;
  text-align: center;
  border-color: #b6926b !important;
}

span {
  font-size: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.h6 {
  margin-top: 30px important;
}

.home {
  background-color: black;
}
.home img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  height: auto;
  max-width: 100%;
  margin-left: 7%;
}

.display {
  background-color: rgb(247, 241, 224) !important;
  color: rgb(48, 46, 46);
  display: flex !important;
  flex-wrap: wrap !important;
  width: 80%;
  margin: 0 auto;
}

.display1 {
  position: absolute;
  z-index: 2;
  left: 12%;
  top: 500px;
  width: 30%;
  height: 650px;
  opacity: 0.8;
  border-radius: 15px;
  background-color: rgb(247, 241, 224) !important;
}

.display2 {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 28%;
  right: 14%;
  top: 500px;
  opacity: 0.8;
  border-radius: 15px;
  background-color: rgb(247, 241, 224) !important;
}
/* The Following is for Character selection cards */
.imFont{
  font-family: 'IM Fell DW Pica', serif;
  
}
.acPosition{
position: absolute;
left: 15px;
color:black;
font-size: 20px
}

.statRow{
position: absolute;
top: 190px;
}
.hpPosition{
position: absolute;
left: 20px;
color:black;
font-size: 20px
}
.speedPosition{
position: absolute;
left: 32px;
color:black;
font-size: 20px
}

.surgePosition{
position: absolute;
left: 50px;
color:black;
font-size: 20px
}

.namePosition{
position: absolute;
left: 30px;
top: 25px;
color:White;
font-size: 30px
}

.subtitlePosition{
position: absolute;
left: 30px;
top: 60px;
color:rgb(184, 184, 184);
font-size: 20px
}

.descriptionPosition{
position: absolute;
left: 30px;
top: 80px;
color:white;
font-size: 15px;
width: 230px;
line-height: 15pt;
}

.abilityPosition{
position: absolute;
left: 30px;
top: 230px;
color:black;
font-size: 15px;
width: 250px;
line-height: 15pt;
}
.powerPosition{
  position: absolute;
  left: 30px;
  top: 250px;
  color:black;
  font-size: 15px;
  width: 250px;
  line-height: 15pt;
  }

  .bg-Alisa {
    background-color: #228B22!important;
    height:500px;
    width:500px;
    background-image: url(./images/characterTemplates/allisa.jpg);
    background-size: cover;
    max-width: 500px;
    min-width: 500px;
    
    
    
  }
  
  .bg-Arjhan {
    background-color: 	#800000!important;
    height:500px;
    width:500px;
    background-image: url(./images/characterTemplates/arjhan.jpg);
    background-size: cover;
    max-width: 500px;
    min-width: 500px;
  }
  
  .bg-Immeril {
    background-color: #4f3584!important;
    height:500px;
    width:500px;
    background-image: url(./images/characterTemplates/immeril.jpg);
    background-size: cover;
    max-width: 500px;
    min-width: 500px;
  }
  
  .bg-Kat {
    background-color: #013554!important;
    height:500px;
    width:500px;
    background-image: url(./images/characterTemplates/kat.jpg);
    background-size: cover;
    max-width: 500px;
    min-width: 500px;
  }
  
  .bg-Thorgrim {
    background-color: #9e8f0b!important;
    background-image: url(./images/characterTemplates/thorgrim.jpg);
    background-size: cover;
    height:500px;
    width:500px;
    max-width: 500px;
    min-width: 500px;
  
  }
.selectWarriors{
  width:100%;
  font-family: 'IM Fell DW Pica', serif;
  color:white;
  text-align: center;
}

.charSelectBg{
  background-image: url('./images/brick.jpg');
  background-size: 100%;
  height:100%;
  width:100%;
  min-height:1000px

}
.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}


/* End of character selection styling */

.orderStyle{
  color: white;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  position:absolute;
  font-size: 30px;
  left:280px
}

.orderList{
  color: white;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  font-size: 30px
}

.choosePowersInactive{
  color: rgb(105, 105, 105)!important;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 30px;
  text-decoration:none!important;
}

.choosepowersActive{
  color: white!important;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 30px;
  opacity: 1;
  animation: start 2s linear infinite;
  text-decoration:none!important;
}

/* Player card styling */
.utilityCard{
  background-color: grey;
  height:450px;
  width:320px;
  background-image: url(./images/powerCards/utility.jpg);
  background-size: 100%;
  border-radius: 7px;
  font-family: 'IM Fell DW Pica', serif;
}

.atWillCard{
  background-color: green;
  height:450px;
  width:320px;
  background-image: url(./images/powerCards/atWill.jpg);
  background-size: 100%;
  border-radius: 7px;
  font-family: 'IM Fell DW Pica', serif;
}
.dailyCard{
  background-color: rgb(78, 78, 128);
  height:450px;
  width:320px;
  background-image: url(./images/powerCards/daily.jpg);
  background-size: 100%;
  border-radius: 7px;
  font-family: 'IM Fell DW Pica', serif;
}


.powerCardTitle{
  position: absolute;
  left:30px;
  top:30px;
  color:white;
  font-size: 35px;
}
.powerCardSubtitle{
  position: absolute;
  left:30px;
  top:100px;
  color:white !important;
  font-size: 16px;
  width:270px;
  line-height: 16px

}
.PowerCardInst{
color:black;
position: absolute;
font-size: 15px;
left:40px;
top:170px;
width: 230px
}

.powerCardNumberBox{
  color:black;
  position: absolute;
  top:330px;
  left: 90px
}
.powerCardNumberBox2{
  color:black;
  position: absolute;
  top:300px;
  left: 90px
}
.pcb{
  color:black!important
}

.powerCardUse{
position:absolute;
left:40px;
top:360px;
color:black
}
.powerCardUse2{
  position:absolute;
  left:40px;
  top:380px;
  color:black
  }

.powerCardMiss{
  position:absolute;
left:40px;
top:360px;
color:black
}